---
permalink: .htaccess
---

# Using Apache's mod_alias if available
<IfModule mod_alias.c>
{%- for url in collections.urls %}
Redirect 301 "/{{ url.fileSlug }}" "{{ url.data.url }}"
{%- endfor %}
</IfModule>

# Else, using Apache's mod_rewrite if available
<IfModule !mod_alias.c>
<IfModule mod_rewrite.c>
{%- for url in collections.urls %}
RewriteRule ^{{ url.fileSlug }}$ {{ url.data.url }} [QSA,L,R=301]
{%- endfor %}
</IfModule>
</IfModule>