<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
<title>{{ title or pkg.name }}</title>
<meta name="description" content="{{ pkg.description }}" />
<link rel="icon" type="image/png" href="/logo.png" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="theme-color" content="#663399" />
<style>
html {
    overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: system-ui, sans-serif;

  background: #a582c2;
  background: linear-gradient(135deg, #639, #a582c2);
  color: #fff;
}

a:link, a:visited {
  color: #fff;
  font-weight: bold;
  margin: 0 .1em;
  padding: .2em;

}

a:hover, a:active {
  background-color: white;
  color: #639;
  text-decoration: none;
}

body > * {
  width: 80vw;
  max-width: 30em;
}

footer {
  margin: 3em 0 0;
  border-top: 1px solid #ccc;
}
</style>
</head>

<body>
  <main>
    <h1>{{ title or pkg.name }}</h1>
    {{ content | safe }}
  </main>
  <footer>
    <p>This short URL manager is built with <a href="https://github.com/nhoizey/1y">1y</a>.</p>
  </footer>
</body>

</html>