<meta http-equiv="refresh" content="0; URL='{{ url }}'" />
<title>Redirecting to {{ url }}</title>
<link rel="canonical" href="{{ url }}">
<script>
window.location = "{{ url }}";
</script>
<p>You should have been redirected to this URL:</p>
<p><a href="{{ url }}">{{ url }}</a></p>
