
# Using Apache's mod_alias if available
<IfModule mod_alias.c>
Redirect 301 "/example" "https://www.example.com/"
Redirect 301 "/nho" "https://nicolas-hoizey.com/"
</IfModule>

# Else, using Apache's mod_rewrite if available
<IfModule !mod_alias.c>
<IfModule mod_rewrite.c>
RewriteRule ^example$ https://www.example.com/ [QSA,L,R=301]
RewriteRule ^nho$ https://nicolas-hoizey.com/ [QSA,L,R=301]
</IfModule>
</IfModule>